.navbar-inverse{
    max-width: 80%;
    margin: auto;
}
.container-body{
    border: 1px solid #eeeeee;
    max-width: 80%;
    margin: auto;
}
.row.sub-row{
    margin-left: 0px;
}
.imgAnuncio{
	max-width: 50px;
	max-height: 50px;
}
.foto_item{
	width: 150px;
	height: 200px;
	text-align: center;
	margin-right: 10px;
	float: left;
}
.foto_item img{
	width: 150px;
}
.table-anuncio{
	max-width:80% !important;
}
/*substitui o boostrap*/
a.carousel-control-rigth{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 290px;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    opacity: .5;
    background-image: linear-gradient(to left,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);
    background-repeat: repeat-x;
    text-decoration: none;
}

a.carousel-control-rigth:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
span{
	    vertical-align: middle;
    line-height: 200px;
}
@media screen and (min-width: 768px)
{
.jumbotron{
    padding-top: 5px;
    padding-bottom: 5px;
}
}
.jumbotron{
    padding: 5px;
    margin-bottom:5px;
}
.navbar-nav.navbar-right:last-child{
    margin-right: 0px;
}