.imgAnuncio{
	max-width: 50px;
	max-height: 50px;
}
.foto_item{
	width: 150px;
	height: 200px;
	text-align: center;
	margin-right: 10px;
	float: left;
}
.foto_item img{
	width: 150px;
}
.table-anuncio{
	max-width:80% !important;
}